.publicacionesYCirculacionesSection {
  min-height: 100vh;
  width: 100%; /* Aseguramos que ocupe todo el ancho disponible */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  box-sizing: border-box;
  background-color: #c9e0f1;
  position: relative; /* Para posicionar la explosión */
  overflow: hidden; /* Para ocultar partes de la explosión que se salgan */
}

.explosionImage {
  position: absolute;
  width: 80%; /* Más grande para que ocupe gran parte de la pantalla */
  height: 150%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  object-fit: contain; /* Para que la imagen no se recorte y se mantenga dentro del contenedor */
}

.mainTitle {
  font-family: 'Rounded Mplus 1c', sans-serif; /* Usaremos una fuente genérica por ahora */
  font-weight: 800; /* Extra Bold */
  font-size: 5rem;
  color: #ce3101; /* Rojo */
  text-align: center;
  margin: 0; /* Eliminamos el margin para un centrado más preciso */
  z-index: 10;
  position: relative;
}

.subtitleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem; /* Reducimos el margen superior */
  z-index: 1;
  position: relative;
}

.subtitle {
  font-family: 'Rounded Mplus 1c', sans-serif; /* Usaremos una fuente genérica por ahora */
  font-weight: 300; /* Light */
  font-size: 1.5rem;
  color: #ce3101; /* Rojo */
  text-decoration: none;
  margin: 0.3rem 0; /* Reducimos el margen vertical */
  transition: color 0.3s ease;
}

.subtitle:hover {
  color: #20a5dd; /* Color de fondo al pasar el mouse */
}

/* Ajustes de responsividad */
@media (max-width: 1200px) {
  .mainTitle {
    font-size: 4.5rem;
  }
  .subtitle {
    font-size: 1.4rem;
  }
  .explosionImage {
      width: 160%;
      height: 160%;
  }
}

@media (max-width: 768px) {
  .mainTitle {
    font-size: 3.5rem;
  }
  .subtitle {
    font-size: 1.2rem;
  }
  .explosionImage {
      width: 180%;
      height: 180%;
  }
}

@media (max-width: 480px) {
  .mainTitle {
    font-size: 2.5rem;
  }
  .subtitle {
    font-size: 1rem;
  }
  .explosionImage {
      width: 200%;
      height: 200%;
  }
}

/* Existing h1 and p styles */
.publicacionesYCirculacionesSection h1 {
  display: none; /* Ocultamos el h1 existente */
}
.publicacionesYCirculacionesSection p {
  display: none; /* Ocultamos el p existente */
}
