.proyectosSection {
  padding: 2rem 1rem;
  text-align: center;
  background-color: #e6e6e6;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.proyectosSection h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 1rem;
}

.proyectosSection p {
  font-size: 1.2rem;
  color: #666;
  max-width: 800px;
  line-height: 1.6;
}

/* Media Queries para responsividad */
@media (max-width: 768px) {
  .proyectosSection h1 {
    font-size: 2rem;
  }

  .proyectosSection p {
    font-size: 1rem;
  }
}
