.inicioSection {
  padding: 2rem 1rem;
  text-align: center;
  background-color: #f9f9f9;
  min-height: 80vh; /* Para que ocupe al menos la altura de la ventana */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inicioSection h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 1rem;
}

.inicioSection p {
  font-size: 1.2rem;
  color: #666;
  max-width: 800px;
  line-height: 1.6;
}

/* Media Queries para responsividad */
@media (max-width: 768px) {
  .inicioSection h1 {
    font-size: 2rem;
  }

  .inicioSection p {
    font-size: 1rem;
  }
}
