.residenciasGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  height: 100vh; /* Ajusta esto según sea necesario */
  width: 100%;
  background-color: #c9e0f1;
  overflow: hidden;
  position: relative; /* ¡Añade esto! */
}

.residenciasTitle {
  grid-area: 2 / 4 / 3 / 7; /* row-start / column-start / row-end / column-end */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: "Rounded Mplus 1C", sans-serif;
  font-size: 4rem;
  font-weight: 800; /* ExtraBold */
  color: #584d99;    /*Color de la letra "residencia" */
  padding-left: 1rem;
  text-transform: uppercase;
}
/*f2dc40*/
.residenciaLink {
  font-family: "Rounded Mplus 1C", sans-serif;
  font-size: 1.5rem;
  color: #2e3a6a; /* Un color azul oscuro similar al de la imagen */
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.residenciaLink:hover {
  color: #f2dc40; /* Color de resaltado al pasar el ratón */
}

.rioSeco { grid-area: 3 / 4 / 4 / 5; }
.putre { grid-area: 3 / 5 / 4 / 6; }
.losChoros { grid-area: 3 / 6 / 4 / 7; }
.confluencias { grid-area: 4 / 4 / 5 / 5; }
.travesias { grid-area: 4 / 5 / 5 / 6; }
.lagda { grid-area: 4 / 6 / 5 / 7; }
.internacionales { grid-area: 5 / 4 / 6 / 7; }

.explosionGraphic {
  position: absolute; 
  bottom: -398px; /* Posiciona en la parte inferior con unidades */
  left: -392px; /* Posiciona en la parte izquierda con unidades */
  z-index: 10; /* Asegura que esté por encima de otros elementos */
  width: 800px; /* Tamaño del SVG */
  height: auto; /* Mantiene la proporción */
  animation: rotate 10s linear infinite; /* Rotación constante en 10 segundos */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.explosionGraphic img {
  max-width: 100%;
  height: auto;
}
