.formacionYMediacionSection {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  box-sizing: border-box;
  background-color: #e9f5fc;
}

.formacionYMediacionSection h1 {
  font-size: 3rem;
  color: #333;
  margin-bottom: 1rem;
}

.formacionYMediacionSection p {
  font-size: 1.2rem;
  color: #666;
  max-width: 800px;
  line-height: 1.6;
}

.sectionTitle {
  font-size: 3rem; /* Tamaño del título */
  color: #333; /* Color del texto del título */
  margin-bottom: 2rem; /* Espacio debajo del título */
  text-align: center;
  /*padding-top: 2rem;*/
}

@keyframes slide-in {
  from {
    transform: scale(0.85) rotate(var(--_rotate-from));
    opacity: 0.7;
  }
  to {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
}

.mainContainer {
  --cols: 2;
  display: grid;
  grid-template-columns: repeat(var(--cols), minmax(0, 300px));
  gap: 1.25rem;
  padding-inline: 1.25rem;
  padding-block: 75vh 50vh; /* Ajustado para dar espacio al scroll de las cards */
  place-items: start;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; /* Centrar el contenedor de la grilla */

  /* Responsive columns */
  @media (min-width: 720px)  { --cols: 4; }
  @media (min-width: 1200px) { --cols: 6; }
  @media (min-width: 1920px) { --cols: 8; }
}

.cardAnimationLayer {
  display: grid;
  gap: 0.5rem;

  @media (prefers-reduced-motion: no-preference) {
    animation: slide-in linear both;
    animation-timeline: view();
    animation-range: cover 0% contain 15%;
  }

  /* Variables para la animación escalonada */
  &:nth-of-type(2n + 1) { --_rotate-from: -5deg; transform-origin: 25% 100%; }
  &:nth-of-type(2n)     { --_rotate-from: 5deg; transform-origin: 75% 100%; }

  @media (min-width: 720px) {
    &:nth-of-type(4n + 1) { --_rotate-from: -10deg; transform-origin: 50% 100%; }
  }
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  text-align: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  max-width: 80px;
  margin-bottom: 1rem;
}

.card p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 1rem;
}

.card a {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.card a:hover {
  background-color: #0056b3;
}

.showAllButton {
  background-color: #007bff;
  color: white;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 4px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 2rem;
}

.showAllButton:hover {
  background-color: #0056b3;
}
